.footer {
  color: #fff;
  font-size: 1.5rem;
  padding: .5rem 0;
  text-align: center;
  margin-top: 5rem;
}

.footer a {
  margin-left: 0.2rem;
}

.footer span {
  display: inline-block;
  margin: 0.5rem;
}

.footer p {
  margin-top: 0.5rem;
}

.footer-link {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  border-bottom: 1px solid transparent;
  transition: all 0.5s ease-out;
}

.footer-link i {
  font-size: 1.8rem;
  margin-right: 4px;
}

.footer-link:hover {
  color: #f1c40f;
}
